<div ng-include="'js/app/modules/app/views/partials/logo-center.html'"></div>

<div ng-include="'js/app/modules/rooms/views/partials/menu.html'"></div>

<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block">
		
		<div class="panel panel-info" ng-class="{ 'shake' : registerForm.$invalid  }">
			  <div class="panel-heading">
					<h3 class="panel-title">Create</h3>
			  </div>
			  <div class="panel-body">
					<form novalidate name="createRoomForm" role="form" ng-submit="createRoom(room)">
						<div class="form-group" ng-class="{ 'has-error' : createRoomForm.RoomName.$invalid && !createRoomForm.RoomName.$pristine }">
							<label for="">Room Name</label>
							<input type="text" 
							class="form-control" 
							name="RoomName"
							ng-model="room.RoomName"
							ng-required="true" 
							ng-minlength="3"
              ng-maxlenght="10"
              uniqueroom="true"
							placeholder="RoomName">
							<p ng-show="createRoomForm.RoomName.$error.required && !createRoomForm.RoomName.$pristine">This Field is required<p>
                
              <p ng-show="createRoomForm.RoomName.$error.uniqueroom && !createRoomForm.RoomName.$pristine">This Room already exists.<p>

							<p ng-show="createRoomForm.RoomName.$error.minlength && !createRoomForm.RoomName.$pristine">Min Length 3 chars<p>
              <p ng-show="createRoomForm.RoomName.$error.maxlength && !createRoomForm.RoomName.$pristine">Max Length 10 chars<p>
						</div>

            <div class="form-group">
              <label for="">Is Public?</label>
              <select name="isPublic" id="" class="form-control" ng-model="room.isPublic">
                <option ng-selected="true" value="true">Yes</option>
                <option value="false">No</option>
              </select>
            </div>
            
            <div class="form-group">
                <label for="">Description</label>
                <textarea 
                  class="form-control" 
                  name="Description"
                  ng-model="room.Description" 
                  placeholder="Description">
                </textarea>
            </div>
  
						<button type="submit" id="form-room-crete-btn" class="btn btn-primary" ng-disabled="createRoomForm.$invalid">Create</button>
					</form>
			  </div>
		</div>

	</div>
</div>
