

<div ng-include="'js/app/modules/app/views/partials/logo-center.html'"></div>

<div class="row row-centered">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 center-block">
		<div class="panel panel-info">
			  <div class="panel-heading">
					<h3 class="panel-title">Forget</h3>
			  </div>
			  <div class="panel-body">
					<form role="form">
					<div class="form-group">
						<label for="">Email</label>
						<input type="text" class="form-control" id="" ng-required="true" placeholder="UserName">
					</div>
					
					<button type="submit" class="btn btn-primary">Reset</button>
				</form>
			  </div>
		</div>
		<div ng-include="'js/app/modules/auth/views/partials/register-hint.html'"></div>

		<div ng-include="'js/app/modules/auth/views/partials/login-hint.html'"> </div>
	
	</div>
</div>
	